<h1 style="margin-left: 40%; margin-top: 5%;">Log In</h1>
<div class="custom-form">
  <%= form_for(:session_data, :url => user_login_path) do |form| %>
    <div class="field">
      <%= form.label :phone%>
      <br>
      <%= form.text_field :phone%>
    </div>
    <div class="field">
      <%= form.label :"Password" %>
      <br>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :"Confirm Password" %>
      <br>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <div class="form-btn">
        <%= form.submit :"Log In"%>
      </div>
    </div>
  <% end %>
</div>
