<h1 style="margin-left: 40%; margin-top: 5%;">OTP Verification</h1>
<div class="custom-form">
  <%= form_for(:session_data, :url => user_verify_otp_path) do |form| %>
    <div class="field">
      <%= form.label :"Enter OTP"%>
      <br>
      <%= form.text_field :otp%>
    </div>
      <%= form.hidden_field :phone, value: @user[:phone]%>

    <div class="actions">
      <div class="form-btn">
        <%= form.submit "Verify"%>
      </div>
    </div>
    <div id="otpTimer">1:59</div>
    <a href="javascript:void(0)" class="otplink" id="sendOTP">Resend OTP</a>
  <% end %>

</div>

<script>
  $('document').ready(function(){
    var timercount = 0;
    var phone = <%= raw @user.phone%>
    debugger;
    $('#sendOTP').hide();
    var timeleftsec = 59;
    var timeleftmin = 1;

    var otpTimer = setInterval(function(){
      if(timeleftsec<=0){
        timeleftmin--;
        timeleftsec = 59;
        debugger;
        if(timeleftsec >= 0 && timeleftmin < 0){
          $('#otpTimer').hide();
          clearTimeout(otpTimer);
          $('#sendOTP').show();
        }
        document.getElementById("otpTimer").innerHTML = timeleftmin+":"+timeleftsec;
      }
      timeleftsec--;
      document.getElementById("otpTimer").innerHTML = timeleftmin+":"+timeleftsec;
      timercount++;
    }, 1000);


    $('#sendOTP').click(function(){
      $('#sendOTP').hide();
      $.ajax({
        url: "verify_otp",
        type: "GET",
        data: {phone: phone},
        dataType: "html",
        success: function(data) {
          console.log(data)
        }
      });
    });

  });
</script>
