<%= form_for(:new_item, :url=> qwe_admin_new_item_path, :remote => true) do |form| %>
  <% if item.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(item.errors.count, "Error") %> :</h3>
      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Item Name" %>
    <br>
    <%= form.text_field :itm_name %>
  </div>

  <div class="field">
    <%= form.label :"Item Price" %>
    <br>
    <%= form.text_field :itm_price %>
  </div>

  <div class="field">
    <%= form.label :"Item Quantity" %>
    <br>
    <%= form.text_field :itm_qty %>
  </div>

  <div class="field">
    <%= form.label :"Item Guage Unit" %>
    <br>
    <%= form.text_field :itm_g_u %>
  </div>

  <div class="field">
    <%= form.label :"Item Inventory Quantity" %>
    <br>
    <%= form.text_field :itm_inv_qty %>
  </div>

  <div class="field">
    <%= form.label :"Item Wholesale Contact" %>
    <br>
    <%= form.text_field :itm_wslae_cntct %>
  </div>

  <div class="field">
    <%= form.label :"Item Image Upload" %>
    <br>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <div class="form-btn">
      <%= form.submit %>
    </div>
  </div>
<%end%>
