<h1 style="margin-left: 40%; margin-top: 5%;">Log In</h1>
<div class="custom-form">
  <%= form_for(:session_data, :url => user_login_path) do |form| %>
    <% if @error %>
      <div class="alert alert-danger">
        <ul>
          <li>
            <%=@error%>
          </li>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :phone%>
      <br>
      <%= form.text_field :phone%>
    </div>
    <div class="field">
      <%= form.label :"Password" %>
      <br>
      <%= form.password_field :password %>
    </div>
    <%= form.hidden_field :admin_login, value: true%>
    <div class="actions">
      <div class="form-btn">
        <%= form.submit "Login"%>
      </div>
    </div>
  <% end %>
</div>
