<div class="custom-form">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div class="alert alert-danger">
        <h3><%= pluralize(user.errors.count, "Error") %> :</h3>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :"Phone Number" %>
      <br>
      <%= form.text_field :phone %>
    </div>

    <div class="field">
      <%= form.label :"First Name" %>
      <br>
      <%= form.text_field :fname %>
    </div>

    <div class="field">
      <%= form.label :"Last Name" %>
      <br>
      <%= form.text_field :lname %>
    </div>

    <div class="field">
      <%= form.label :"Password" %>
      <br>
      <%= form.password_field :password %>
    </div>

    <div class="field">
      <%= form.label :"Confirm Password" %>
      <br>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <div class="form-btn">
        <%= form.submit %>
      </div>
    </div>
  <% end %>
</div>
