<h1>CART</h1>
<%@items.each do |item|%>
  <%=item%>
<%end%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Price</th>
      <th scope="col">Item Image</th>
    </tr>
  </thead>
  <tbody>
    <%(0..@items.size-1).each do |i| %>
      <tr>
        <th scope="row"><%=i+1%></th>
        <td><%=@items[i][:itm_name] %></td>
        <td><%=@items[i][:itm_price]%></td>
        <td><%= image_tag @items[i].image.url ,class: 'admin-list-image'%></td>
      </tr>
    <%end%>
  </tbody>
</table>
