<nav class="navbar navbar2-custom navbar-expand-md navbar-light" id="navbar2">
  <div id="navbarMenu" class="collapse navbar-collapse">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link  nav2-btn" href="#bandd">Breakfast & Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2-btn" href="#pandr">Pulses & Rice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2-btn" href="#sandm">Spices & Masalas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2-btn" href="#fpands">Food products & Snacks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav2-btn" href="#handg">Homecare & other goods</a>
      </li>
    </ul>
</nav>

<!--Images Carousel -->
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag("groceries.jpg", :class=>"card-img-top d-block w-100", :alt=>"Third Slide", :style=> "width: fit-content; height: 550px;")%>
    </div>
    <div class="carousel-item">
      <%=image_tag("rice.jpg", :class=>"card-img-top d-block w-100", :alt=>"Third Slide", :style=> "width: fit-content; height: 550px;")%>
    </div>
    <div class="carousel-item">
      <%=image_tag("milk.jpg", :class=>"card-img-top d-block w-100", :alt=>"Third Slide", :style=> "width: fit-content; height: 550px;")%>
    </div>
  </div>
</div>




<div data-spy="scroll" data-target="#navbar2" data-offset="0">
  <!-- <h4 id="pandr">Pulses and Rice</h4> -->
  <div id="bandd">
    <h4>Breakfast and Diary</h4>

    <div style="display: flex;">
      <div style="display: flex;">
        <%@item_ctg[:bandd].each do |item|%>
          <div class="card item-card" style="width: 10rem;">
            <%= image_tag item.image.url%>
            <div class="card-body">
              <h7 class="card-title"><%=item[:itm_name]%></h7>
              <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <div id="pandr">
    <h4>Pulses and Rice</h4>
    <div style="display: flex;">
      <%@item_ctg[:pandr].each do |item|%>
        <div class="card item-card" style="width: 10rem;">
          <%= image_tag item.image.url%>
          <div class="card-body">
            <h7 class="card-title"><%=item[:itm_name]%></h7>
            <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div id="sandm">
    <h4>Spices and Masalas</h4>
    <div style="display: flex;">
      <%@item_ctg[:sandm].each do |item|%>
        <div class="card item-card" style="width: 10rem;">
          <%= image_tag item.image.url%>
          <div class="card-body">
            <h7 class="card-title"><%=item[:itm_name]%></h7>
            <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div id="fpands">
    <h4>Food Products and Snacks</h4>
    <div style="display: flex;">
      <%@item_ctg[:fpands].each do |item|%>
        <div class="card item-card" style="width: 10rem;">
          <%= image_tag item.image.url%>
          <div class="card-body">
            <h7 class="card-title"><%=item[:itm_name]%></h7>
            <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div id="handg">
    <h4>Homecare and Other Goods</h4>
    <div style="display: flex;">
      <%@item_ctg[:handg].each do |item|%>
        <div class="card item-card" style="width: 10rem;">
          <%= image_tag item.image.url%>
          <div class="card-body">
            <h7 class="card-title"><%=item[:itm_name]%></h7>
            <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    setInterval(function(){
      $('.carousel').carousel('next');
    },5000);
  });
</script>
