<div style="margin-left: 5%; margin-top: 5%;">
  <h1>Account Settings</h1>
  <p id="notice"><%= notice %></p>
  <form>
    <label><%=@user.fname%></label><br>
    <label><%=@user.lname%></label><br>
    <label><%=@user.phone%></label><br>
    <%= @addresses.each do |address|%>
      <%= address.full_name%>
      <%= address.contact_number%>
      <%= address.street1%>
      <%= address.district%>
      <%= address.area%>
      <%= address.state%>
      <%= address.landmark%>
      <br>
    <%end%>
    <%= link_to 'Edit', edit_user_path(@user.user_id) %>
  </form>
</div>
