<nav class="navbar navbar-custom navbar-expand-md navbar-light">
  <%= link_to "Online Grocers", root_path, :class=> "navbar-brand"%>
  <button id="navburger" class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarMenu" class="collapse navbar-collapse">
    <form class="form-inline">
      <input class="navbar-search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn" type="submit">Search</button>
      <% if logged_in? %>
        <%= link_to "Account Settings", user_account_settings_path, :method => "get", :class => "btn" %>
        <%= link_to "Log Out", user_logout_path(:admin_logout => is_admin_logged_in?), :method => "delete", :class => "btn" %>
      <% else %>
        <%= link_to "Log In", user_login_path, :method => "get", :class => "btn"%>
        <%= link_to "Sign Up", new_user_path, :method => "get", :class => "btn" %>
      <% end %>
      <a href="/user/cart"><%= image_tag 'shopping_cart.png', class: 'shopping-cart'%></a>
    </form>
  </div>
</nav>
