<!DOCTYPE html>
<html>
  <head>
    <title>Online Grocer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%if controller.class.name.split("::").first=="AdminController"%>
      <%= render "admin/admin_navbar"%>
    <%else%>
      <%= render "layouts/user_navbar"%>
    <%end%>

  </head>

  <body style="background-color: #FEF9E7;">
    <%= yield %>
  </body>

  <script>
    $(document).ready(function () {
      var isNavCollapsed = true;
      $('#navburger').click(function(){

      });
    });
  </script>
</html>
