<!DOCTYPE html>
<html>
  <head>
    <title>OnlineGrocer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Button trigger modal -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Online Grocer</a>
    </nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
