<!DOCTYPE html>
<html>
  <head>
    <title>Online Grocer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



    <nav class="navbar navbar-custom navbar-expand-md navbar-light">
      <%= link_to "Online Grocers", root_path, :class=> "navbar-brand"%>
      <button id="navburger" class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarMenu" class="collapse navbar-collapse">
        <form class="form-inline">
          <input class="navbar-search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit">Search</button>
          <% if logged_in? %>
            <%= link_to "Log Out", user_logout_path, :method => "delete", :class => "btn" %>
            <%= link_to "Account Settings", user_account_settings_path, :method => "get", :class => "btn" %>
          <% else %>
            <%= link_to "Log In", user_login_path, :method => "get", :class => "btn"%>
            <%= link_to "Sign Up", new_user_path, :method => "get", :class => "btn" %>
          <% end %>
          <div class="dropdown">

          </div>
          <!-- <a class="btn" href="/" role="button">Sign Up</a> -->
        </form>
      </div>
    </nav>

  </head>

  <body style="background-color: #FEF9E7;">
    <%= yield %>
  </body>

  <!-- <script>
    $(document).ready(function () {
      var isNavCollapsed = true;
      $('#navburger').click(function(){

      });
    });
  </script> -->
</html>
